In [1]:
#работа с табличными данными
import pandas as pd
import numpy as np

#работа с запросами и данныеми HTML
from bs4 import BeautifulSoup
import requests as r

#визуализация
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('entries.csv',sep=';')

In [3]:
df.head()

   user          dt  Unnamed: 2
0     0  12.11.2023         NaN
1     0  13.11.2023         NaN
2     0  14.11.2023         NaN
3     0  16.11.2023         NaN
4     0  17.11.2023         NaN

In [ ]:
# fuck u